html{
    background-image: url(./monkey-MD.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lexend', serif;
}

#config {
    position: absolute;
    height: 45px;
    width: 50px;
    top: 3%;
    right: 9%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 220;
    border-radius: 12px;
    border: 2px solid #F5EF96; 
    background-color: #F5EF96;
    box-shadow: 3px 5px 3px #D69B31;
}

#confi {
width: 65px;
text-align: center;
transform: translate(-20%, -22%);
}
 
#shop {
    position: absolute;
    height: 45px;
    width: 50px;
    top: 3%;
    right: 15%;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 220;
    border-radius: 12px;
    border: 2px solid #F5EF96; 
    background-color: #F5EF96;
    box-shadow: 3px 5px 3px #D69B31;
}

#elmonoo {
    width: 65px;
    text-align: center;
    transform: translate(-15%, -5%);
}

#plata{ 
    position: absolute;
    height: 35px;
    width: 85px;
    top: 3%;
    right: 93%;
    z-index: -20;
    border-radius: 12px;
    border: 2px solid #1CAB58; 
    background-color: white;
    box-shadow: 2px 3px 2px #1CAB58;
}

#laplata {
    width: 60px;
    transform: translate(-5%, 1%);
}

#cantidad {
   text-align: left;
 transform: translate(4%, 125%);
 color: #5B405C;
}